@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.background-image {
  background-image: url('/images/starBg.png');
  background-size: cover; /* Ensures the image covers the whole background */
  background-position: top; /* Centers the background */
  background-repeat: no-repeat; /* Prevents tiling */
  height: 100vh; /* Ensures it takes the full viewport height */
  width: 100vw; /* Full viewport width */
  position: responsive; /* Ensures the image scales with the viewport */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: url('/images/starBg.png');
  background-size: cover;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}