@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.background-image {
    background-image: url('/images/starBg.png');
    background-size: cover; /* Ensures the image covers the whole background */
    background-position: top; /* Centers the background */
    background-repeat: repeat; /* Prevents tiling */
    height: 100vh;
    width: 100vw; 
    position: fixed; 
  }